/* Asterisk wildcard seletor to override styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* header*/
header {
    background-color: lightcoral;
}

/* main */
main {
    background-color: lightblue;
}

/* footer */
footer {
    background-color: orange
}